--allman false
--binarygrouping none
--closingparen same-line
--commas always
--decimalgrouping none
--elseposition same-line
--emptybraces no-space
--exponentgrouping disabled
--fractiongrouping disabled
--indent 4
--indentcase false
--ifdef no-indent
--linebreaks lf
--maxwidth 160
--modifierorder final
--operatorfunc no-space
--patternlet inline
--ranges no-space
--self init-only
--semicolons never
--stripunusedargs closure-only
--swiftversion 5.9
--trimwhitespace always
--wraparguments before-first
--wrapcollections before-first
--wrapparameters before-first
